<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Openingdate:</strong>
  <%= @task.openingDate %>
</p>

<p>
  <strong>Closingdate:</strong>
  <%= @task.closingDate %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
